/* ui/ux specific */

.hidden {
    display: none;
}

.alreadydone {
    text-decoration: line-through;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
}

.todo {
    text-decoration: none;
    right: -50px;
    display: inline-block;
}

.mottou {
    background-color: #a8edea, rgba(18, 109, 79, 0.452);
    padding: 5px 5px;
    margin: 0px;
    width: 15vh;
    display: inline-block;
}

#switcher, #itemsOnPage {
    background-color: rgba(18, 109, 79, 0.452);
    border-radius: 5px;
}

/* .choozrs {
    display: inline-block;
} */

/* .buttonSet {
} */

/* standard elements stlyle*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(170, 227, 223);
    color: black;
    margin: 0px 0px;
    display: inline-block;
}

input, #input {
    border: none;
    background-color: rgba(94, 192, 159, 0.486);
    font-size: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px;
    margin: 0px 0px;
}

select {
    border: none;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 20px;
    margin: 0px 20px;
}

button {
    border: none;
    background: rgba(255, 127, 80, 0.25);
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 15px;
}

ul {
    list-style-type: none;
}

li {
    margin: 3px;
    border-radius: 5px;
    padding: 5px 5px;
    background: rgba(255,255,255, 0.6);
    display: inline-block;
    left: 50px;
};

/* div space containers */

/* .page_ {

} */

.leftField_, .rightField_ {
    background-color: rgb(127, 153, 152);
}

.header_ {
    padding: 10px;
    background-color: rgb(170, 204, 202);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
};

#input {
    background-color: grey 0,1;
    border-radius: 5px;
}

.pages {
    justify-content: center;
}