* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

body {
    background-color: rgb(225, 255, 249)
}

.hidden {
    display: none;
}

.alreadydone {
    text-decoration: line-through;
    background-color: #515151;
    color: #9993B2;
}

.buttonSet {
    justify-content: flex-end;
}

.buttonSet > button {
    color: #000000;
    margin: 0px 2px;
    padding: 5px;
    font-size: 10px;
}

.mottou {
    color: black;
    background-color: rgba(0, 171, 154);
    padding: 5px 5px;
    margin: none;
    text-align: center;
}

li {
    background-color: #21C496;
    padding: 5px 15px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-position: outside;
}

select{
    background-color: #6F7488;
    display: inline;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    background-color: transparent;
    text-decoration: inherit;
    margin: 10px;
    padding: 0px;
}

.pageButton {
    margin: 5px;
}