body {
    background-color: bisque;
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;
    background: rgb(200, 220, 231);
    color: black;
    font-family: 'Poppins';
    font-size: 24px;
    margin: 0;
    overflow-y: scroll;
    overflow: hidden;
}

.page {
    width: 60%;
    margin: 0 20% 0 20% ;
    padding: 0;
    height: 80vh;
    overflow-y: scroll;
    overflow: hidden;
}

.header, .footer {
    text-align: center;
    padding: 20px 16px;
    font-size: 16px;    
    background-color: rgb(105, 105, 105, 0.2);
};

.footer {
    position: relative;
    height: 56px;
    top: 56px - 1vh;
}

.list {
    width: 400px;
}

.listing {
    margin: 0 10% 0 10% ;
}

.addToDo {
    border: 0;
    border-radius: 5px;
    background: #28ad7a;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-block;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.05);
}

.inputFrame {
    background-color: rgb(255, 255, 255);
    margin: 0 20% 0 20% ;
    display: inline-block;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.05);
}

li {
    margin: 2px;
    border-radius: 1px;
    padding: 2px 10px;
    width: 400px;
    display: inline-block;
    background: rgba(255,255,255, 0.1);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(40px);
    border: solid 4px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.05);
};

li.todo {
    text-decoration: none;
} 
li.alreadydone {
    text-decoration: line-through;
};

button {
    display: inline-block;
}